@using ShopASP.Constants;
@model ShopASP.Models.SingleOrderViewModel


<div class="container">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="@Model.Product.Image" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">@Model.Product.Name</h5>
          <p class="card-text">@Constants.Messages["Price_Text"] @Model.Product.Price</p>
          <p class="card-text"><small class="text-muted">@Model.Category.Type.ToString()</small></p>
        </div>
      </div>
    </div>
  </div>
  <hr/>
  <h4> @Constants.Messages["Price_Text"] @Constants.Messages["Money_Symbol"]@Model.FinalPrice </h4>
  <form asp-controller="Order" asp-action="CreateSingleOrder">
    <input type="hidden" asp-for="InputModel.ProductId" value="@Model.Product.Id"/>
    <input type="hidden" asp-for="InputModel.CategoryId" value="@Model.Category.Id"/>
    <button class="btn btn-primary" type="submit">@Constants.Messages["Place_Order_Text"]</button>
  </form>
</div>