@using ShopASP.Constants
@model ShopASP.Models.ProductViewModel

<div class="container">
    <form asp-controller="Order" asp-action="SingleOrder" method="GET">
        <input type="text" hidden="hidden" value="@Model.Product.Id" asp-for="ProductId"/>
        <div class="row">
            <div class="col">
                <div>
                    <img src="@Model.Product.FrontCover.Url" class="img-fluid"/>
                </div>
                <div class="mt-1">
                    @* @if (@Model.Product.Units > 0) *@
                    @* // { *@
                        <button class="btn btn-primary d-inline" type="submit"> @Constants.Messages["Buy_Text"] @Constants.Messages["Money_Symbol"]@Model.Product.Price </button>
                        <button class="btn btn-dark d-inline">@Constants.Messages["Add_To_Cart_Text"]</button>
                    @* // } *@
                    @* else *@
                    @* { *@
                    @*     <button class="btn bg-danger disabled">@Constants.Messages["Out_Of_Stock_Text"]</button> *@
                    @* } *@
                </div>
            </div>
            <div class="col">
                <h1>@Model.Product.Name</h1>
                <div class="d-inline">
                    @if (Model.Product.Genres != null && Model.Product.Genres.Count > 0)
                    {
                        int iteration = 0;
                        @foreach (var genre in @Model.Product.Genres)
                        {
                            if (iteration == 0)
                            {
                                <h3 class="d-inline">@genre.Genre.Name</h3>
                            }
                            else
                            {
                                <h3 class="d-inline">, @genre.Genre.Name</h3>
                            }
                            iteration++;
                        }
                    }

                </div>
                <p>@Model.Product.Description</p>

                @if (Model.Product.Categories.Count > 0)
                {
                    <label for="platform" class="form-label">@Constants.Messages["Platforms_Text"]</label>
                    <select class="form-select" id="platform" asp-for="CategoryId">
                        @foreach (var category in @Model.Product.Categories)
                        {
                            <option value="@category.Category.Id">@category.Category.Type.ToString()</option>
                        }
                    </select>
                }

                <h5>@Constants.Messages["Release_Date_Text"]: @Model.Product.ReleaseDate</h5>


            </div>
        </div>
    </form>

</div>