@using ShopASP.Constants
@model ShopASP.Models.ProductListViewModel

<div class="container">
    <div class="text-center">
        <h1> @Constants.Messages["Product_Listing_" + @ViewContext.RouteData.Values["category"]?.ToString()?.ToUpper() + "_Title"] @Constants.Messages["Games"] </h1>
        <p> @Constants.Messages["Product_Listing_" + @ViewContext.RouteData.Values["category"]?.ToString()?.ToUpper() + "_Description"] </p>
    </div>
    <hr/>

    @if (@Model.Products.Count > 0)
    {
        <div class="row">
            @foreach (var item in @Model.Products)
            {
                <div class="col mb-3">
                    <div class="card" style="width: 18rem">
                        <img src="https://@item.FrontCover?.Url" class="card-img-top" alt="..."/>
                        <div class="card-body">
                            <h5 class="card-title"> @item.Name </h5>
                            <p class="card-text text-truncate">@item.Description</p>
                        </div>
                        <div class="card-footer bg-white">
                            <h3>@item.Price</h3>
                            <div>
                                <a href="#" class="btn btn-primary">Add to cart</a>
                                <a href="#" class="btn btn-primary">See More</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        
        
        
        <nav aria-label="Navigation">
            <ul class="pagination">
                @{
                    int currentPage = 1;
                    if (@Context.Request.Query.ContainsKey("page") && int.Parse(Context.Request.Query["page"]!) > 1)
                    {
                        currentPage = int.Parse(@Context.Request.Query["page"]!);
                    }
                }

                @if (currentPage > 1)
                {
                    int previousPage = currentPage - 1;

                    <li class="page-item">
                        <a class="page-link" href="/@ViewData["category"]?page=@previousPage">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item">
                        <a class="page-link" href="/@ViewData["category"]?page=1">Previous</a>
                    </li>
                }

                @{
                    int firstPage = currentPage;
                    int generateNextPages = 3;
                    int generatePreviousPages = 3;
                    if (currentPage < 3)
                    {
                        firstPage = 1;
                        generatePreviousPages = 0;
                    } else if (currentPage == 3)
                    {
                        generatePreviousPages = 2;
                    }

                    if (firstPage == @Model.AllPages)
                    {
                        generateNextPages = 1;
                    }
                }
                @if (generatePreviousPages > 0)
                {
                    for (int i = 1; i <= generatePreviousPages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/@ViewData["category"]?page=@i">@i</a>
                        </li>
                    }
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                }
                
                @for (int loadedPage = 0; loadedPage < generateNextPages; loadedPage++)
                {
                    if (firstPage == currentPage)
                    {
                        <li class="page-item active">
                            <a class="page-link" href="/@ViewData["category"]?page=@currentPage">@currentPage</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" href="/@ViewData["category"]?page=@firstPage">@firstPage</a>
                        </li>
                    }

                    firstPage += 1;
                }

                @if (currentPage < @Model.AllPages - 3)
                {
                    <li class="page-item disabled"><a class="page-link">...</a></li>
                    
                    for (int i = @Model.AllPages - 3; i < @Model.AllPages; i++)
                    {
                        <li class="page-item">
                            <a class="page-link" href="/@ViewData["category"]?page=@i">@i</a>
                        </li>
                    }
                }
                
                <li class="page-item">
                    @{
                        int nextPage = currentPage + 1;
                    }
                    <a class="page-link" href="/@ViewData["category"]?page=@nextPage">Next</a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <h1 class="text-center">@Constants.Messages["Resource_Not_Found"]</h1>
    }

</div>