@using ShopASP.Utils
@using ShopASP.Models
@model ShopASP.Areas.Identity.Models.AccountOrdersViewModel;

@{
    Layout = "_ProfilePageLayout";
}

<div class="container">
    <table class="table table-stripped table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Products</th>
            <th scope="col">Status</th>
            <th scope="col">View</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in @Model.Orders)
        {
            <tr>
                <th>@order.Id</th>
                <td>
                    @foreach (var orderProduct in @order.Products)
                    {
                        <p>@orderProduct.Product.Name</p>
                    }
                </td>
                <td>@order.Status</td>
                <td>
                    <button class="btn btn-primary">View</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    @Html.Partial("Partial/_Pagination", new PaginationModel { CurrentPage = @Model.CurrentPage, AllPages = @Model.AllPages, Action = "ProfilePage", Controller = "Profile"})

</div>